.navbar-container {
  background-color: var(--off-white);
  height: 6rem;
  width: auto;
  display: flex;
  padding-right: 2em;
}

.nav-text-green {
  color: var(--green);
}
.nav-text-brown{
  color: var(--brown);
}

.navbar-logo-container {
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 2rem;
  display: flex;
}
.navbar-logo-write {
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar-logo-write-dholar {
  margin-left: 2rem;
  color: var(--green);
}
.navbar-logo-write-community {
  color: var(--brown);
  margin-left: 0.3rem;
}
.navbar-logo-img {
  margin-top: auto;
  margin-bottom: auto;
  width: 4.6rem;
  height: 4.1rem;
}

.navbar-link-container {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: 660px) {
  .navbar-link-container {
    display: none;
  }

  .navbar-logo-img {
    width: 3.6rem;
    height: 3.1rem;
  }

  .navbar-logo-write-dholar {
    font-size: 1rem;
  }
  .navbar-logo-write-community{
    font-size: 1rem;
  }
}

.navbar-item {
  padding-left: 2rem;
  color: var(--black);
  text-decoration: none;
}


