.banner-container {
  display: flex;
  flex-direction: row;

  align-self: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;

}

.banner-img {
  padding: 20px;
}

@media (max-width: 760px) {
  .banner-container {
    display: flex;
    flex-direction: column;
  }
  .banner-img {
    width: 100%;
    margin: 0;
    object-fit: cover;
    padding: 10px;
  }
}

